[submodule "lib/json"]
	path = lib/json
	url = https://github.com/shinovon/Java-JSON-Library.git
[submodule "lib/midletintegration"]
	path = lib/midletintegration
	url = https://github.com/shinovon/MIDletIntegrationLibrary.git
